* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 300px;
}

.navbar {
    border: 2px solid red;
    width: 1365px;
    height: 88.88px;
    background-color: #000;

}

img {
    background-color: #000;
}
.navbar_item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar_text{
    color: #fff;
}
